{% extends 'base.html' %} 

{% block body %}
<div class="mx-auto">
  <h1 class="text-center">{{ route.name }}</h1>
  {% if user == route.owner %}
    <p class="text-center">
      <span><a href="{% url 'walls:update' route.id %}" class="text-primary px-2">Rename</a></span>
      <span><a href="{% url 'walls:add_holds' wall.id %}" class="text-primary px-2">Edit Wall Holds</a></span>
      <span><a href="{% url 'walls:delete' wall.id %}" class="text-danger px-2">Delete</a></span>
      <span><a href="{% url 'walls:add_route' wall.id %}" class="text-primary px-2">Add Route</a></span>
    </p>
  {% endif %}
</div>
<div class="row pb-5">
  <div class="col-md-8">
    <img src="{{wall.image.url}}" alt="" width="100%" />
  </div>
  <div class="col-md-4">
    <h4>Routes:</h4>
      <div>
        {% for route in wall.routes.all %}
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'walls:route_detail' wall.id route.id %}">{{ route.name }}</a>
            </li>
          </ul>
        {% endfor %}
      </div>
    <p>{{ wall.description }}</p>
  </div>
</div>

{% endblock body %}